# Local artifacts
.DS_Store
.vscode/
.idea/
cacert.pem

# Environment & tooling
.env
.env.*

# Node / frontend artifacts
node_modules/
dist/
dist-ssr/
build/
.parcel-cache/
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor project files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
